<%= bootstrap_form_for(Meeting.new, layout: :horizontal) do |f| %>
  <div class="field">
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.text_field :description %>
  </div>
  <p class="lead"><%= f.submit 'Get Started', class: 'btn btn-lg btn-default' %></p>
<% end %>
