<%= calendrier(:year => 2016, :month => Time.now.month, :day => Time.now.day, :start_on_monday => true, :display => :week) do |cell_begin_time, cell_end_time| %>
<div class="span2">
  <%number = @meeting.get_team_members_by_hour(cell_begin_time)%>
  <%if number == @meeting.team_members.length && (number > 1) %>
    <%color = "#a9a9a9"%>
  <%elsif number < @meeting.team_members.length && number!=0%>
    <%color = "#ffd040"%>
  <%else%>
    <%color = "#70c864"%>
  <%end%>
  <%if cell_begin_time.hour >= 8 && cell_begin_time.hour <= 24%>

     <div class = "schedule-cell">
      <%= button_to "", send_email_path(@meeting, cell_begin_time.strftime("%A %b %d @ %I:%M %p")), method: :post, class: ["btn btn-schedule btn-default"], style: "height: 35px; width: 90px; background: "+color, title: @meeting.getMembersByTime(cell_begin_time)%>
      </div>
  
  <% end %>
</div>
<% end %>

<!-- <%= button_to 'SEND EMAIL', send_email_path(@meeting, "2:00 pm"), method: :post %> -->