
<!-- Upload Schedule -->
<a href=<%=new_team_member_path(:meeting_id => @meeting.id)%> class="btn btn-small btn-default">Upload Schedule</a>


<!-- Large modal -->
<button class="btn btn-small btn-default" data-toggle="modal" data-target=".bd-example-modal-lg">Participation Link</button>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="Participation Link" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
    </br>
    <h4 class="modal-title" id="gridModalLabel">Use this link to share this meeting with your team members!</h4>
    </br>
      http://localhost:3000/meetings/<%= @meeting.id %>
    </br>
    </br>
    </br>
    </div>
  </div>
</div>
</br>