
<!--RENDER PARTIAL!-->
<%= render 'team_members/form', :team_member => TeamMember.new %>

<!-- Upload Schedule -->
<!-- <a href=<%#=new_team_member_path(:meeting_id => @meeting.id)%> class="btn btn-small btn-default">Upload Schedule</a>-->