<% unless notice.nil? %>
  <div class="alert alert-success">
    <%= notice %>
  </div>
<% end %>
<section class="display">
  <div class="row container-fluid">
     <div class="col-md-5">
      <div style="padding-top:100px; width:75%; margin:auto;">
         <%= render 'team_members/form', :team_member => TeamMember.new %>
         <%= render :partial => "upload"%>
      </div>
    </div>
    <div class="col-md-7">
       <%= render :partial => "schedule"%>
    </div>
  </div>
</div>
</section>


