<% unless notice.nil? %>
  <div class="alert alert-success">
    <%= notice %>
  </div>
<% end %>




<div style="width: 90%;">
   <div style="float:left; width: 50%">
   <%= render :partial => "upload"%>
   </div>
   <div style="float:right;">
   <%= render :partial => "schedule"%>
   </div>
</div>
<div style="clear:both"></div>


<script type="text/javascript" language="JavaScript"><!--
function HideContent(d) {
document.getElementById(d).style.display = "none";
}
function ShowContent(d) {
document.getElementById(d).style.display = "block";
}
function ReverseDisplay(d) {
if(document.getElementById(d).style.display == "none") { document.getElementById(d).style.display = "block"; }
else { document.getElementById(d).style.display = "none"; }
}
//--></script>


