<p id="notice"><%= notice %></p>
<p>Current team members: </p>
<% if !@team_members.nil? %>
  <% @team_members.each do |member| %>
    <%= member.proper_name %>
  <% end %>
<% end %>




</br>
<p>
Schedule goes here
</p>
</br>

<%= link_to 'Upload your schedule', new_team_member_path(:meeting_id => @meeting.id) %>

<h3>Participation Link</h3>
<a href="javascript:ReverseDisplay('share')">
Click to share this meeting with whoever you'd like:
</a>



<div id="share" style="display:none;">
http://localhost:3000/meetings/<%= @meeting.id %>
</div>

<script type="text/javascript" language="JavaScript"><!--
function HideContent(d) {
document.getElementById(d).style.display = "none";
}
function ShowContent(d) {
document.getElementById(d).style.display = "block";
}
function ReverseDisplay(d) {
if(document.getElementById(d).style.display == "none") { document.getElementById(d).style.display = "block"; }
else { document.getElementById(d).style.display = "none"; }
}
//--></script>


