<div style="background:transparent";class="jumbotron">
<p id="notice"><%= notice %></p>
</div>


</br>


<div style="width: 90%;">
   <div style="float:left; width: 50%">
   <a href=<%=new_team_member_path(:meeting_id => @meeting.id)%> class="btn btn-small btn-default">Upload Schedule</a>
   <a href="javascript:ReverseDisplay('share')" class="btn btn-small btn-default">
	Participation Link
	</a>
	</br>
	<div id="share" style="display:none;">
	http://localhost:3000/meetings/<%= @meeting.id %>
	</div>
   </div>
   <div style="float:right;">
   <%= render :partial => "schedule"%>
   </div>
</div>
<div style="clear:both"></div>


<script type="text/javascript" language="JavaScript"><!--
function HideContent(d) {
document.getElementById(d).style.display = "none";
}
function ShowContent(d) {
document.getElementById(d).style.display = "block";
}
function ReverseDisplay(d) {
if(document.getElementById(d).style.display == "none") { document.getElementById(d).style.display = "block"; }
else { document.getElementById(d).style.display = "none"; }
}
//--></script>


