<title>Schedule Smasher</title><p>
        <div class="cover-container">
          <div class="inner cover">
            <h1 class="cover-heading">Schedule Smasher</h1>
            <p class="lead">Have trouble finding a meeting time with friends?</p>
            <p class="lead">
              <a href=<%=new_meeting_path%> class="btn btn-lg btn-default">Plan a Meeting</a>
            </p>
          </div>
          </div>
