/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require_self
 *= require_tree .
 *= require bootstrap.min.css
 *= require bootstrap-table-expandable.css
 *= require jquery-ui-1.10.0.custom.css
 *= require rails_bootstrap_forms
 */

a,
a:focus,
a:hover {
  color: #fff;
}

body {
  background-color: #fff;
}


h1, h2 {
  margin: 0;
  padding: 0;
  text-shadow: none;
}

h4, p {
  text-shadow: none;
}

th {
  text-shadow: none;
}

/* nav */

nav {
  margin: 0 !important;
  background-color: #ED7D31 !important;
}

nav .container-fluid {
  width: 90%;
}

.navbar {
  border: none !important;
}

#navbar {
  background-color: #ED7D31 !important;
  border: none !important;
}

#navbar li a {
  color: #fff;
}

#navbar li:hover {
  background-color: #c14f03;
}

.navbar {
  padding: 0 !important;
}

.navbar-brand {
  color: #fff !important;
}

.upload-header {
  color: #fff;
  background: #ed7d31;
  padding:5px;
}

.upload-table {
  background: #e9e9e9;
  color: #000;
  padding-bottom: 10px;
  padding-top: 0px;
}

/* heading class */
.heading-red {
  color: #f23f1f;
  letter-spacing: 5px;
  padding-bottom: 30px;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: transparent;
}

.btn-upload,
.btn-upload:hover,
.btn-upload:focus {
  color: #fff;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #ed7d31;
  border: 5px solid #ff9300 !important;
  border-radius: 15px !important;
}

/* Sections and containers */
.home-container {
  background-image: url("background1.png");
  background-repeat: no-repeat;
  background-size:cover;
  height: 700px;
}

.cover-container {
  height: 100%;
}

.how-container {
  padding-top: 50px;
  padding-bottom: 100px;
  background-color: #fff;
  display: block;
  height: auto;
}

.how-container img {
  background-color: #FF994B;
  border: 2px solid #BD7B4E;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin-top: 13px;
}

.how-container span {

  margin: 70px 10px 30px 10px;
  display: inline-block;
  width: 230px;
  height: 230px;
  border-radius: 50%;
  border: 2px solid #BD7B4E;;
}

.how-container h1 {
  color: #f23f1f;
  letter-spacing: 10px;
  margin: 0;
  padding-top: 50px;
}

.how-container p {
  letter-spacing: 2px;
  font-size: 1.6em;
  line-height: 1.5;
  font-weight: none;
}

.about-container {
  background-color: #e5e5e5;
  display: block;
  height: auto;
  padding-top: 50px;
  padding-bottom: 150px;
}

.about-container .container {
  width: 90%;
}

.about-container p {
  text-align: left;
  font-size: 1.3em;
  line-height: 1.5;
  padding-right: 70px;
  padding-left: 70px;
}

.about-container h1 {
  padding-top: 30px;
  padding-bottom: 50px;
  color: #f23f1f;
}

.about-container h4 {
  font-size: 1.5em;
  text-align: left;
  color: #f23f1f;
  padding-left: 70px;
}

.display {
  display: block;
  height: auto;
  padding: 120px 50px 100px 50px;
}

/* form styles */
.form-container {
  margin: auto;
  width: 60%;
}

.form-control {
  width: 60% !important;
}

input[type="text"] {
  border-radius: 10px !important;
  border: 3px solid #f23f1f !important;
  color: #000 !important;
}

input[type="text"]:focus {
  border-radius: 10px !important;
  border: 2px solid #FFA42A !important;
}

.cover-container label {
  font-size: 1.2em;
  text-shadow: none;
  color: #000;
}

.labelhome {
  font-size: 1.2em;
  text-shadow: none;
  color: #fff;
}

#new-team {
  padding:50px 70px 50px 70px;
  margin-bottom: 30px;
  text-shadow: none;
  background-color: #e5e5e5;
}

#new-team label {
  color: #000;
  font-size: 1.1em;
  font-weight: normal;
}

#new-team .form-control {
  width: 70% !important;
}

#participation {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #e5e5e5;
}

.export .btn-small {
  padding-left: 30px;
  margin-right: 5px;
  padding-right: 30px;
  border-radius: 3px !important;
}

.field {
  margin-bottom: 20px !important;
}

.box-label {
  display: inline-block;
  background-color: #ED7D31;
  height:50px;
  width: 100%;
}

.box-label span {
  padding-top: 15px;
  display: inline-block;
  vertical-align: middle;
  font-size: 1.5em;
  color: #fff;
  text-shadow: none;
}

/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #333;
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

.btn-small {
  border: 2px solid #FFA42A !important;
  border-radius: 15px !important;
}

.btn-small:hover {
  color: #fff !important;
  background-color: #ED7D31 !important;
}

.lead {
  color: #fff;
}

/* Padding for spacing */
.inner {
}


/* Helpers */
.valign-wrapper {
  display: inline-flex;
  height: 100%
}

.valign {
  margin: auto;
}


/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 40px;
  background-color: transparent;
  color: #fff;
  font-size: 1.2em;
  border: 4px solid #f48e09;
  border-radius: 15px;
}

.cover .btn-lg:hover {
  background-color: #fff;
  color: #000;
  border: 4px solid #f48e09;
}

.cover-heading {
  letter-spacing: 10px;
  color: #fff;
}


/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}

.btn.outline {
  background: none;
  padding: 12px 22px;
}

.btn-primary.outline {
  border: 2px solid #0099cc;
  color: #0099cc;
}

.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
  color: #33a6cc;
  border-color: #33a6cc;
}
.btn-primary.outline:active, .btn-primary.outline.active {
  border-color: #007299;
  color: #007299;
  box-shadow: none;
}

footer {
  display: inline-block;
  background-color: #ED7D31;
  height: 50px;
}

footer .container {
  padding-top: 18px;
  display: inline-block;
  min-height: 100%;
}

footer p {
  color: #fff;
}
